*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */

header{
    background-color: rgb(37, 94, 233);
    padding: 20px;
    font-weight: 600;
}

.button-accedi{
    width: 18%;
    padding: 10px;
    border-radius: 30px;
}

/* corpo principale */

.bg-image{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    font-size: 45px;
    padding: 40px 0px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
}

.button-jumbo{
    max-width: 40%;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

.button-main{
    max-width: 40%;
    padding: 15px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
}

.button-foot{
    max-width: 40%;
    padding: 12px;
    border-radius: 30px;
    font-size: 15px;
}

/* fine corpo principale */

/* container */

.container{
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
}

.container2{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 60px 0px;
}

.container3{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}

/* fine container */

/* column */

.left-col{
    width: 25%;
}

.central-col{
    width: 50%;
    padding-top: 5px;
}

.right-col{
    width: 25%;
}

.big-col{
    width: 60%;
}

.small-col{
    width: 40%;
}

/* fine column */

/* utility */

ul{
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
}

.width-full{
    width: 100%;
}

.display-flex{
    display: flex;
}

.display-block{
    display: block;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.justify-center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

/* fine utility */

/* color-background */

.color-white{
    color: white;
}

.color-lightpurple{
    color: rgb(114, 137, 218);
}

.bg-white{
    background-color: white;
}

.bg-lightpurple{
    background-color: rgb(114, 137, 218);
}

.bg-blue{
    background-color: rgb(30, 143, 255);
}

.bg-grey{
    background-color: rgb(191, 191, 191);
}

.bg-darkgrey{
    background-color: rgb(35, 39, 42);
}

/* fine color-background */

/* footer */

#top-footer{
    border-bottom: 2px solid white;
    padding-top: 5px 0px 20px 0px;
}

.column1{
    width: 25%;
    padding: 50px 0px 0px 0px;
}

.column2{
    width: 75%;
    padding: 50px 0px 0px 0px;
}

.foot-content{
    width: 100%;
    display: flex;
}

.foot-border{
    border-top: 1px solid rgb(114, 137, 218);
}

/* fine footer */

/* table */

th{
    color: rgb(114, 137, 218);
    text-align: left;
}

td{
    color: white;
    padding: 15px 0px 15px 0px;
}

/* fine table */