*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    background-color: rgb(37, 94, 233);
    padding: 20px;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
}

.left-col{
    width: 25%;
    text-align: left;
}

.central-col{
    width: 50%;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
}

.right-col{
    width: 25%;
    text-align: right;
}

.box-border{
    border: 1.5px dashed black;
    height: 100%;
}

/* corpo principale */

.container2{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}

.container3{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}

.big-col{
    width: 60%;
    height: 400px;
}

.small-col{
    width: 40%;
    height: 400px;
}

.row-reverse{
    flex-direction: row-reverse;
}

/* utility */

.width-full{
    width: 100%;
}

.color-white{
    color: white;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

/* background color */

.bg-gold{
    background-color: goldenrod;
}

.bg-darkblue{
    background-color: rgb(0, 0, 137);
}

.bg-darkpink{
    background-color: rgb(231, 126, 230);
    height: 300px;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: rgb(30, 143, 255);
}

.bg-pink{
    background-color: rgb(255, 192, 202);
}

.bg-grey{
    background-color: rgb(191, 191, 191);
}

.bg-green{
    background-color: rgb(33, 139, 33);
    height: 600px;
}

.bg-darkgrey{
    background-color: rgb(35, 39, 42);
}

.bg-salmon{
    background-color: rgb(240, 129, 127);
    width: 35%;
    height: 400px;
}

.bg-acquamarina{
    background-color: rgb(32, 179, 170);
    width: 16.25%;
    height: 400px;
}

.bg-lightgreen{
    background-color: rgb(114, 225, 184);
}

/* fine background colors */

/* footer */

footer{
    padding-top: 20px;
}

.content{
    width: 100%;
    padding: 15px 0px;
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.bg-footer-pink{
    background-color: rgb(255, 192, 202);
}

.left-button{
    max-width: 10%;
    padding: 5px;
    text-align: center;
}

.right-button{
    max-width: 10%;
    padding: 5px;
    text-align: center;
}